@model QuanLyRapChieuPhim.Models.PHONGCHIEU

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PHONGCHIEU</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RAP.MARAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAP.MARAP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAPH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAPH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TENPH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENPH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOCHO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOCHO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
