@model QuanLyRapChieuPhim.Models.GHE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GHE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PHONGCHIEU.MAPH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHONGCHIEU.MAPH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAGHE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAGHE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RAP_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAP_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VITRI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VITRI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOAIGHE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAIGHE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
