@model IEnumerable<QuanLyRapChieuPhim.Models.SUATCHIEU>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PHIM.MAPHIM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MASUAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYCHIEU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GIOCHIEU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOGHE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PHIM.MAPHIM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MASUAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAYCHIEU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIOCHIEU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOGHE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
