@model IEnumerable<QuanLyRapChieuPhim.Models.QUAY>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RAP.MARAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAQUAY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TENQUAY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOAIQUAY)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RAP.MARAP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAQUAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TENQUAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOAIQUAY)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
